@import "./header";
@import "./main";
@import "./side-nav";

body,
html {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Noto Sans", sans-serif;
}
.main {
  margin: 6vh 2vw;
  margin-bottom: 0;
  height: 550px;
  display: flex;
}

/* media queries */
@media (max-width: 1354px) {
  .side-nav-links {
    width: 60px;
  }
}
@media (max-width: 1275px) {
  .main {
    height: 1140px;
    margin-bottom: 50px;
  }
  #image-container {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .tint {
    width: 100%;
    display: block;
  }
  .tint:before {
    padding-top: 10%;
  }
  .tint:after {
    padding-top: 15%;
  }
  .main-image {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .main {
    display: block;
    margin-bottom: 50px;
  }
  .header {
    display: block;
    height: 400px;
  }
  #logo {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    height: 70px;
  }
  .header-nav-links {
    display: block;
    height: 300px;
    width: 100vw;
    margin: 0;
    margin-top: 2vh;
    float: initial;
    text-align: center;
    justify-content: center;
  }
  .header-nav-link {
    height: 60px;
    width: 100vw;
    margin: 0%;
    justify-content: center;
    text-decoration: none;
    color: black;
    transition: 0.15s all;
  }
  .header-nav-link:hover {
    background-color: #00a8e2;
    color: white;
  }
  #blue-nav {
    margin: 0;
    padding: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100, 0, 100% 0, 100% 100%, 0 100%);
  }
  #blue-nav:hover {
    background-color: white;
    color: #00a8e2;
  }
  .side-nav {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-around;
    align-items: flex-start;
  }
  .side-nav-first {
    width: 40vw;
  }
  .side-nav-second {
    width: 40vw;
  }
  .main-section {
    width: 90vw;
    margin: 0 1vw;
    color: rgb(87, 87, 87);
    border-right: 1px solid rgba(206, 206, 206, 0.801);
    border-left: 1px solid rgba(206, 206, 206, 0.801);
    border-bottom: 1px solid rgba(206, 206, 206, 0.801);
    box-shadow: inset 0px -6px 1px rgba(231, 231, 231, 0.548);
  }
}
@media (max-width: 733px) {
  .main {
    height: 1200px;
  }
  .tint:before {
    padding-top: 15%;
  }
  .tint:after {
    padding-top: 25%;
  }
}
